.bookseat-container {
    padding: 50px  180px ;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .bookseat-container h1, h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .bookseat-form{
padding: 50px 100px;


  }
  .form-row {
    margin-bottom: 15px;
  }
  
  .bookseat-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
  }
  
  .bookseat-form 
  input,
  select {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
  }
  
 
  .btn-submit {
    display: block;
    width: 20%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
   
  }
  .btn-next{
    display: block;
    width: 20%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    margin-left:75%;
  }
  .btn-next:disabled,
  .btn-submit:disabled {
    background-color: #ebd5d5;
  }
  
  .seats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .seat-selection h5 {
padding: 10px 100px;
background-color: white;
color: black;
margin-bottom: 20px;
font-size: 1.5rem;
  }
  .seat-button {
    width: 40px;
    height: 40px;
    background-color: #cfcf2c;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
  }
  
  .seat-button.selected {
    background-color: #007bff;
    color: rgba(214, 212, 97, 0.633);
    border: 1px solid #0056b3;
  }
  .seat-button.booked {
    background-color: red;
    cursor: not-allowed;
  }