.footer-container{
    width: 100%;
    height: auto;
    position: relative;
    background-color:black !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 80px;
}

.footer-container .footerbackgroundImg{
    width: 100%;
    height: 130%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.footer-content{
    width: 100%;
    height: 60%;
    margin: 6rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.footer-content .card{
    width: 100%;
    height: 100%;
    
}
.footer-content .card:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content .card h3{
    font-size: 1.2rem;
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 1.5;

}

.footer-content .card ul{
    font-size: 1rem;
    list-style: none;
    margin-top: 1rem;
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    opacity: 0.7;
    line-height: 1.5;
}

.footer-content .card ul li{
    /* margin-top: 0.5rem; */
    display: flex;
}

.footer-content .card p{
    font-size: 0.8rem;
    margin-top: 1rem;
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
.footer-content .card h1{
    font-size: 3rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 1.5;

}

.footer-content .card h4{
    font-size: 0.8rem;
    margin-top: 1rem;
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 1.5;
}

hr{
    width: 100%;
    opacity: 0.5;
}

.footer-bottom{
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    align-items: center;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
}


.fliplink{
    position: relative;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    color: var(--white);
    margin-top: 0.5rem;
}

.inlineblock{
    display: inline-block;
}

.downdiv{
    position: absolute;
    inset: 0px;
}

@media (max-width:1024px){
    .footer-container{
        padding: 0px 40px;
        height: auto;
        
    }
    .footer-content{
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 1rem;
    }
    .footer-bottom{
        height: auto;
    }
    .footer-content .card{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .footer-content .card p {
        text-align: center;
    }
    .footer-content .card ul{
        text-align: center;
    }
    .footer-container .footerbackgroundImg{
        width: 100%;
        height: 120%;
    }
}
@media (max-width:768px){
    .footer-content{
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-content .card p {
        text-align: center;
    }
}
@media (max-width:540px){
    .footer-container{
        padding: 0px 30px;
    }
    .footer-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-content .card{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .footer-content .card p {
        text-align: center;
    }
    .footer-content .card ul{
        text-align: center;
    }
    .footer-content .card ul li{
        justify-content: center;
    }
    .footer-content .card h1 {
        font-size: 2rem;
    }
}

@media (max-width:480px){
    .footer-container{
        height: auto;
        padding: 0px 20px;
    }
    
    .footer-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-content .card{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .footer-content .card p {
        text-align: center;
    }
    .footer-content .card ul{
        text-align: center;
    }
    .footer-bottom{
        flex-direction: column;
    }
}
